<!--
  Generated template for the SearchPlacesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  class="{{this.helper.lang_direction}}">

  <ion-navbar color="autobus">
    <ion-title>{{"Results" | translate}}</ion-title>
    <ion-buttons  right>
      <button ion-button style="width: 30px">
        </button>
</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="box">

    <div class="divShadowStyle" id="stay-in-place">
      <ion-row style="margin:auto;">
        <ion-col col-1 style="padding:0;-webkit-flex-grow:0;">
          <div class="circleBase type1"></div>
          <div style="width: 1.5px;height: 23px;background-color:#006098;margin: auto"></div>
          <div class="circleBase type3"></div>
        </ion-col>
        <ion-col col-11 style="padding: 0px;">
          <div style="margin-top: 3px;">
            <ion-label style="color: #72a7c6;font-size: 13px;margin: 0">{{fromAddress}}</ion-label>
          </div>
          <div style="margin-top:9px;">
            <label style="color: #006098;font-size: 16px;text-transform: capitalize;">{{toAddress}}</label>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <!-- <ion-row style="height: 100%;" *ngIf="!noData">
      <ion-col col-12>
      <div id="map_s" #map_t style="width:100%;height:100%;position: absolute;direction: ltr !important;">
        <div style="margin: 4px;background-color:transparent;width:50px;left:0;border-radius: 10px;float: left;position: absolute; z-index: 100000;">
            <img *ngIf="map_type == 'ROADMAP'" src="assets/imgs/sat.png" (click)="mapTypeChanged('SATELLITE')" style="width:50px;height:50px;border-radius: 10px"/>
            <img *ngIf="map_type == 'SATELLITE'" src="assets/imgs/map.png" (click)="mapTypeChanged('ROADMAP')" style="width:50px;height:50px;border-radius: 10px"/>
        </div>
      </div>
    </ion-col>
    </ion-row> -->
    <ion-scroll #scrollWeb scrollY="true" style="height:100%;background:#fff !important;" id="move-in-to-place">
     
    <ion-row style="text-align:center;" *ngIf="noData">
      <ion-col col-12>
        {{'noSearchData' | translate}}
      </ion-col>
    </ion-row>

      <!--Direct Trips-->
      <!-- <ion-col *ngFor="let item of buses" (click)="openTripDetails(item.el)" >
        <ion-row>
          <ion-col col-2>
          </ion-col>
          <ion-col style="padding:0;">
            <label style="color: #006098;font-size: 16px;font-size: 17px">  {{ 'bus' | translate }} #{{item.el.bus_number}} </label>
          </ion-col>
          <ion-col style="padding:0;">
            <ion-label style="margin: 0;color: #006098;  font-size: 17px;background-position-x: center; background-image: url(assets/imgs/priceBg.png);  background-repeat: no-repeat;  padding: 9px 0; text-align: center;">    {{item.el.fare}} JOD</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2 style="margin: auto!important;">
          <img src="assets/imgs/icBusBig.png" style="margin: auto;display: block;width: 30px;height: 20px;">
        </ion-col>

          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'EST_ARRIVAL'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.el.busRouteDistanceFeet?.feet?.duration?.text}}</label>
            </ion-row>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'distance'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.el.routes?.distance?.text}}</label>
            </ion-row>
          </ion-col>


        </ion-row>
        <ion-row >
          <ion-col col-2>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'Start'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.el.route_start_address}}</label>
            </ion-row>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'STOP'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.el.route_end_address}}</label>
            </ion-row>
          </ion-col>
        </ion-row>
        <div style="background-color:#e8e8e8 ;height: 2px;margin-right: 20px;margin-left: 20px;margin-top: 20px"></div>
      </ion-col> -->

      <!--Indirect Trips-->
      <!-- <h3 style="margin-left: 10px;" *ngIf="secondTripBuses.length > 0">Indirect Trips</h3>
      <ion-col *ngFor="let item of secondTripBuses" (click)="openTripDetails(item)" >
        <ion-row>
          <ion-col col-2>
          </ion-col>
          <ion-col style="padding:0;">
            <label style="color: #006098;font-size: 16px;font-size: 17px">  {{ 'bus' | translate }} #{{item.bus_number}} </label>
          </ion-col>
          <ion-col style="padding:0;">

            <ion-label style="margin: 0;color: #006098;  font-size: 17px;background-position-x: center; background-image: url(assets/imgs/priceBg.png);  background-repeat: no-repeat;  padding: 9px 0; text-align: center;">    {{item.fare}} JOD</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2 style="margin: auto!important;">
          
          <img src="assets/imgs/icBusBig.png" style="margin: auto;display: block;width: 30px;height: 20px;">
        </ion-col>

          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'EST_ARRIVAL'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.busRouteDistanceFeet?.feet?.duration?.text}}</label>
            </ion-row>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'distance'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.routes?.distance?.text}}</label>
            </ion-row>
          </ion-col>


        </ion-row>
        <ion-row >
          <ion-col col-2>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'Start'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.route_start_address}}</label>
            </ion-row>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'STOP'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.route_end_address}}</label>
            </ion-row>
          </ion-col>
        </ion-row>
        <div style="background-color:#e8e8e8 ;height: 2px;margin-right: 20px;margin-left: 20px;margin-top: 20px"></div>
      </ion-col> -->

      <ion-col *ngFor="let item of buses" (click)="openTripDetails(item.el)" >
        <ion-row>
          <ion-col col-2>
          </ion-col>
          <ion-col style="padding:0;">
            <label style="color: #006098;font-size: 16px;font-size: 17px">  {{ 'bus' | translate }} #{{item.el.bus_number}} </label>
            <!-- <label style="color: #006098;font-size: 16px;font-size: 17px">2</label> -->
          </ion-col>
          <ion-col style="padding:0;">
            <!-- <ion-icon name="aprice"></ion-icon> -->
            <ion-label style="margin: 0;color: #006098;  font-size: 17px;background-position-x: center; background-image: url(assets/imgs/priceBg.png);  background-repeat: no-repeat;  padding: 9px 0; text-align: center;">    {{item.el.fare}} JOD</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2 style="margin: auto!important;">
            <!-- <ion-icon name="bus" style="color:#006098 ;margin: auto;display: block;width: fit-content;"></ion-icon>
          -->
          <img src="assets/imgs/icBusBig.png" style="margin: auto;display: block;width: 30px;height: 20px;transform: rotateY(180deg);">
        </ion-col>

          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'EST_ARRIVAL'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.el.busRouteDistanceFeet?.feet?.duration?.text}}</label>
            </ion-row>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'distance'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.el.routes?.distance?.text}}</label>
            </ion-row>
          </ion-col>


        </ion-row>
        <ion-row >
          <ion-col col-2>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'Start'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.el.route_start_address}}</label>
            </ion-row>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'STOP'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.el.route_end_address}}</label>
            </ion-row>
          </ion-col>
        </ion-row>

            <!--ayaaa-->
            <ion-row *ngIf="item.type == 'directTrip'" style="margin-top: 20px">
              <ion-col col style="display: flex;justify-content: center"><ion-icon name="walk"></ion-icon> </ion-col> 
              <!-- <ion-col col style="display: flex;justify-content: center"><ion-icon style="color:#424242" name="arrow-forward-outline"></ion-icon></ion-col>  -->
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/chevron-forward-outline.svg" style="width: 18px;height: 17px"></ion-col>                 
              <ion-col col style="display: flex;justify-content: center"><img src="assets/imgs/icBusStopSmall@2x.png" style="width: 18px;height: 17px"></ion-col>                 
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/icBus@3x.png" style="width: 18px;height: 17px;transform: rotateY(180deg);"></ion-col>                
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/chevron-forward-outline.svg" style="width: 18px;height: 17px"></ion-col>                            
              <ion-col col style="display: flex;justify-content: center"><ion-icon name="walk"></ion-icon> </ion-col> 
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/chevron-forward-outline.svg" style="width: 18px;height: 17px"></ion-col>                         
              <ion-col col style="color:#ff8300;display: flex;justify-content: center"><ion-icon name="flag"></ion-icon></ion-col>
            </ion-row>

            <ion-row *ngIf="item.type == 'inDirectTrip'" style="margin-top: 20px;">
              <ion-col col style="display: flex;justify-content: center"><ion-icon name="walk"></ion-icon> </ion-col> 
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/chevron-forward-outline.svg" style="width: 18px;height: 17px"></ion-col>                 
              <ion-col col style="display: flex;justify-content: center"><img src="assets/imgs/icBusStopSmall@2x.png" style="width: 18px;height: 17px"></ion-col>                 
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/icBus@3x.png" style="width: 18px;height: 17px;transform: rotateY(180deg);"></ion-col>                
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/chevron-forward-outline.svg" style="width: 18px;height: 17px"></ion-col>                            
              <ion-col col style="display: flex;justify-content: center"><ion-icon name="walk"></ion-icon> </ion-col> 
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/chevron-forward-outline.svg" style="width: 18px;height: 17px"></ion-col>                 
              <ion-col col style="display: flex;justify-content: center"><img src="assets/imgs/icBusStopSmall@2x.png" style="width: 18px;height: 17px"></ion-col>                 
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/icBus@3x.png" style="width: 18px;height: 17px;transform: rotateY(180deg);"></ion-col>   
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/chevron-forward-outline.svg" style="width: 18px;height: 17px"></ion-col>  
              <ion-col col style="display: flex;justify-content: center"><ion-icon name="walk"></ion-icon> </ion-col>    
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center"><img src="assets/imgs/chevron-forward-outline.svg" style="width: 18px;height: 17px"></ion-col>                                    
              <ion-col col style="color:#ff8300;display: flex;justify-content: center"><ion-icon name="flag"></ion-icon></ion-col>
            </ion-row>

            <!-- <ion-row *ngIf="item.type == 'inDirectTrip'">
              <ion-col col style="color:#faf1e7;padding: 0 5px;display: flex;justify-content: center">
                <img src="assets/imgs/icBusStopSmall@2x.png" style="width: 18px;">
               
              </ion-col>
              <ion-col col style="color:#424242;padding: 0;display: flex;justify-content: center">
                <ion-icon name="walk"></ion-icon> 
                <ion-label>10 min.</ion-label>
              </ion-col>      
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center">
                <img src="assets/imgs/icBus@3x.png" style="width: 18px;">
                <ion-label>10 min.</ion-label>                
              </ion-col>
              <ion-col col style="color:#424242;padding: 0;display: flex;justify-content: center">
                <ion-icon name="walk"></ion-icon> 
                <ion-label>10 min.</ion-label>                                
              </ion-col>          
              <ion-col col style="color:#faf1e7;display: flex;justify-content: center">
                <img src="assets/imgs/icBus@3x.png" style="width: 18px;">
                <ion-label>10 min.</ion-label>                                                
              </ion-col>
              <ion-col col style="color:#424242;padding: 0;display: flex;justify-content: center">
                <ion-icon name="walk"></ion-icon>
                <ion-label>10 min.</ion-label>                                                                
              </ion-col>                     
              <ion-col col style="color:#faf1e7;padding: 0 5px;display: flex;justify-content: center">
                <img src="assets/imgs/icBusStopSmall@2x.png" style="width: 18px;">
 
              </ion-col>
            </ion-row> -->

            <!--ayaaaaa-->

        <div style="background-color:#e8e8e8 ;height: 2px;margin-right: 20px;margin-left: 20px;margin-top: 20px"></div>
      </ion-col>

      <div style="margin-bottom: 20px;">
        <button ion-button (click)="ionViewDidLoad()" [hidden]="hideMoreBtn" style="margin:auto;background-color:#ff8300;width: 83%;display: block;text-transform: none;font-size: 14px;">{{'loadMore'|translate}}</button>
      </div>
    </ion-scroll>



  </ion-content >
