page-trip-details {
	.ion-tabs-fix {
		ion-tabs {
		 height: calc(100% + 56px) !important;
	   }
   }
   #map_canvas{
	height: calc(100% - 185px);
	width: 100%;
	position: absolute !important;

}
   #map_t{
	height: calc(100% - 190px);
	width: 100%;
	position: absolute !important;

}
#map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
   
    }
    .busStyleEn{
        width: 150px;
        height: 150px;
        float:right;
    }
    .busStyleAr{
        width: 150px;
        height: 150px;
        float:left;
	}
	.row{
		padding: 0 5px !important;
	}

.price{
	position: relative;
}
.price::before{
	position: absolute;
	font-family: "na5il2" !important; content: '\62';
	font-size: 6em;
	top: -45px;
}
      .scroll-content2{
		left: 0;
		right: 0;
		top: 240px;
		bottom: 0;
		position: absolute;
		z-index: 1;
		display: block;
		overflow-x: hidden;
		overflow-y: scroll;
		will-change: scroll-position;
		contain: size style layout;
	}




	//ayaaaa
	.callButtonStyleEn{
        font-size: 30px;
        float:right;
    }
    .callButtonStyleAr{
        font-size: 30px;
        float:left;
    }

    .circleBase {
        border-radius: 50%;
        margin: auto;
    }
    .type1 {
        width: 8px;
        height: 8px;
         background: #006098;
         margin-top: 8px
        // border: 3px solid red;
    }
    .type3 {
        width: 12px;
        height:12px;
        background: white;
        border: 2.2px solid #006098;
    }

    .divShadowStyle{
        -webkit-box-shadow: 0px 4px 12px 0px rgba(224,220,224,1);
        -moz-box-shadow: 0px 4px 12px 0px rgba(224,220,224,1);
        box-shadow: 0px 4px 12px 0px rgba(224,220,224,1);
         padding: 10px;
        width: 100% ;
        border: 1px;
        background:#fff;
        min-height: 70px;
        position: relative;
        top: 0px;
    }
    // #map_canvas{
    //   height: 100%;
    //   width: 100%;
    //   position: absolute !important;

    // }
    #stay-in-place {
      height: 100%;
      width: 100%;
      position: absolute;
  }
  #move-in-to-place2 {
      position: absolute;
      bottom: -125%;
    //   height : 100%;
      width : 90% !important;
      left: 5%;
	  opacity:1;
	  z-index: 10;
      border-radius: 20px !important;
      box-shadow:5px 5px 5px 5px #88888840;

  }
  .box {
      position: relative;
      width:100%;
      height:100%;
      // overflow:hidden;
  }
  .box:hover #move-in-to-place {
      bottom: -50%;
      -webkit-transition: all 1s, -webkit-transform 1s;
      transition: all 1s, transform 1s;
      width:100%;
      height:100%;
      opacity:1;
  }
  .drag-icon{
    text-align: center;
    font-size: larger;
    margin: 10px 45%;


  }
  .icon-drag-raw{
    background: #fff !important;
    height: 30px;
    width: 100%;
    display: block;
    position: sticky;
    top:0px;
    z-index: 99;
    border-radius: 20px;
  }
}
